.tag {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 0.3rem 1rem;
  border-radius: 9px;
  font-size: 0.75rem;
  font-weight: 600;
  margin-right: 0.5rem;
  margin-top: 1rem;
}
